/**************************** css pagina receitas***********************/
.main-rec{
    background-color: #FFF1C1;
}
.receitas-inicial{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    
}
.receitas-inicial>h1{
    color: #4a403d;
    padding: 30px;
    text-align: center;
 }
 .btn-receitas{
    background-color: orange;
    color: #4a403d;
    
}
 .btn-categorias{
    background-color: #4a403d;
    color: whitesmoke;
    
}
.card-receita{
    border: none;
    overflow: hidden;
}
.col{
    border: none;
    overflow: hidden;
}
.text{
    text-align: center;
}

 
.zoomable-img {
    transition: transform 0.1s ease; 
}

.zoomable-img:hover {
    transform: scale(1.1); 
}
div>h5{
    overflow: hidden; 
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    backdrop-filter: blur(10px);
}

.receita {
    position: relative;
    width: 80%;
    min-height: 80%;
    max-height: 90%;

    overflow-y: auto;

    background-color: white;
    box-shadow: 0 0 10px black;

    z-index: 2;
    border-radius: 10px;
}

.receita>span {
    position: absolute;
    font-size: 30px;
    top: 8px;
    left: 10px;
    cursor: pointer;
}

.receita>h1 {
    text-align: center;
}

.receita .receita-imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.receita .receita-imagem-container>img {
    height: 70vh;
    width: auto;
    justify-content: center;
}

.receita>div {
    margin-left: 20px;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 1000px) {
    .receita {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}