/* font-family: 'Alex Brush', cursive; */
/* font-family: 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
}
.receitas-content{
    margin-top: 20px;
    /*background-color: bisque;*/
}
.receita-categoria{
    /*background-color: aqua;*/
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.receitas-inicial{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.receitas-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 20px;*/
}

.receita-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.receita-item img {
    width: 200px;
}

.receita-item button {
    margin-top: 10px;
}