.btn{
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 10%;
    text-decoration: none;
    color: black;
}

.btn-td{
    background-color: rgb(209, 134, 35);
    padding: 7px;
    border-radius: 10%;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 33%;
    margin-right: 33%;
    min-height: 5vh;
    overflow: hidden;
}
.card-title{
    overflow: hidden;
}
.badge{
    background-color: #EA804C;
}

.badge a{
color: aliceblue;

}

main{
    background-color: #FFF1C1;
}

.carousel-item img{
    max-height: 800px;
    overflow: hidden;
    object-fit: cover;
}

.alex{
    font-family:'Alex Brush';

    font-size: xx-large;

}

.open{
    font-family: 'Open Sans';
}

.footer-contato .div-footer {
    border-top: 1px solid white;
  }
  .footer-contato h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-align: center;
  }
  .footer-contato p {
    margin: 20px;
    margin: 10px;
    font-size: 14px;
  }

  .footer-contato a {
    text-decoration: none;
    color: inherit;
  }